<div class="container">
    <div class="row">
        <div ng-repeat='apartment in apartments track by $index'>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail apartments">
                    <a ui-sref='apartmentInfo({id: apartment._id})'>
                        <img src="{{apartment.imageUrl || altImage }}" alt="...">
                        <div class="caption">
                            <h3>{{apartment.name}}</h3>
                            <p>{{apartment._id}}</p>
                        </a>
                        <p><a class="btn btn-primary" role="button" ui-sref='addTenantToApt({id: apartment._id, name: apartment.name})'>Add Tenant</a>
                            <a class="btn btn-success" role="button" ui-sref='editApartment({id: apartment._id, apartment})'>Edit</a>
                            <a class="btn btn-danger" role="button" ng-click='deleteApartment(apartment._id)'>Delete</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
